<mat-card class="container">
    <mat-card-header class="header">
        <mat-card-title>
            <h2>Wiadomości</h2>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content class="content">
        <div class="actions">
            <button class="btn" mat-raised-button (click)="newMessageToAll()">Nowa wiadomość do wszystkich pracowników</button>
            <button class="btn" mat-raised-button (click)="newMessage()">Nowa wiadomość do wybranego pracownika</button>
        </div>
        <div class="messages">
            <h2>Twoje wiadomości</h2>
            <app-message-list [isInDashboard]="false" [peroid]="60"></app-message-list>
        </div>
    </mat-card-content>
</mat-card>