<div class="container">
    <form [formGroup]="form">
        <h2>Select the employee you want to delete</h2>
        <mat-form-field appearance="outline">
            <mat-label>Employee</mat-label>
            <mat-select formControlName="worker">
                <mat-option *ngFor="let worker of workers" [value]="worker">
                    {{ worker.userID }} | {{ worker.name }} {{ worker.surname }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button (click)="onDelete(form.value)">Delete</button>
        <button mat-raised-button (click)="onExit()">Exit</button>
        <p class="err" *ngIf="deleted === false">Failed to delete employee</p>
    </form>
</div>