.sidenavContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #393d41;
}

.logo {
    margin: 1em;
    font-size: 40px;
    font-weight: bold;
}

.logo-left {
    color: #393d41;
    font-weight: bold;
}

.logo-right {
    color: #4E7596;
    font-weight: bold;
}

.sidenav {
    width: 15%;
    background: brown;
}

.listItem {
    font-size: 20px;
    color: azure;
    width: 100%;
}

.icon {
    font-size: 30px;
    padding: 0 20px;
}