<mat-table class="table" [dataSource]="ranking">
    <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef>Pozycja</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.position }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="userID">
        <mat-header-cell *matHeaderCellDef>Numer pracownika</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.userID }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Imię</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="surname">
        <mat-header-cell *matHeaderCellDef>Nazwisko</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.surname }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="ratio">
        <mat-header-cell *matHeaderCellDef>Wydajność</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.ratio }}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns" class="row-hover"></mat-row>
</mat-table>