    .container {
        display: flex;
        flex-direction: column;
        margin: 2em;
        background: #25272a;
    }
    
    .content {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    
    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #4E7596;
    }
    
    .header h2 {
        font-size: 30px;
        color: #4E7596;
    }
    
    h2 {
        color: brown;
        text-align: center;
    }
    
    .box {
        width: 45%;
        text-align: center;
    }