.container {
    display: flex;
    flex-direction: column;
    margin: 2em;
    background: #25272a;
}

.header {
    justify-content: center;
    color: brown;
}

.content {
    display: flex;
    margin: 1em;
    flex-wrap: wrap;
    justify-content: center;
}

.stats {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.chart {
    width: 70%;
}

.button {
    width: 50%;
    background: brown;
    margin-bottom: 3em;
}

.err {
    padding: 20px;
    background-color: mistyrose;
    border: 1px solid red;
    font-weight: bold;
    border-radius: 10px;
    width: 50%;
    text-align: center;
    margin: auto;
}

mat-form-field {
    width: 25%;
    margin: 1em;
}