<form [formGroup]="form" (submit)="onSubmit(form.value)">

    <div class="logo">
        <h1 class="logo-left">i</h1>
        <h1 class="logo-right">Worker</h1>
    </div>

    <mat-divider></mat-divider>

    <div class="view">

        <div class="social">
            <mat-card class="container">
                <mat-card-header class="header">
                    <mat-card-title>
                        <h1>Find us on:</h1>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="content">
                    <mat-list>
                        <mat-list-item class="socialList">
                            <a href="/login" class="fa fa-facebook"></a>
                        </mat-list-item>
                        <mat-list-item class="socialList">
                            <a href="/login" class="fa fa-twitter"></a>
                        </mat-list-item>
                        <mat-list-item class="socialList">
                            <a href="/login" class="fa fa-instagram"></a>
                        </mat-list-item>
                    </mat-list>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="login">
            <mat-card class="container">
                <mat-card-header class="header">
                    <mat-card-title>
                        <h1>Sign In</h1>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="content">
                    <mat-form-field>
                        <mat-label>Worker number</mat-label>
                        <input matInput type="number" formControlName="userID">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Password</mat-label>
                        <input matInput type="password" formControlName="password">
                    </mat-form-field>
                    <span class="err" *ngIf="wrong">The provided login or password is incorrect</span>
                </mat-card-content>
                <mat-card-actions class="actions">
                    <button class="button" type="submit" mat-raised-button>Log in</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>

    <div class="footer">
        <p>In the absence of an assigned employee number or other problems, please contact the employer</p>
    </div>

</form>