.container {
    background-color: #393d41;
    height: 500px;
}

.header {
    justify-content: center;
    color: forestgreen;
}

h1 {
    font-weight: bold;
    font-size: 40px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
    justify-content: center;
    flex-wrap: wrap;
}

.actions {
    display: flex;
    justify-content: center;
}

.button {
    width: 50%;
    padding: 2%;
    background: forestgreen;
    color: azure;
    font-size: 100%;
}

.err {
    padding: 20px;
    background-color: mistyrose;
    border: 1px solid red;
    font-weight: bold;
    border-radius: 10px;
}

.logo {
    display: flex;
    margin: 1em;
    font-weight: bold;
    justify-content: center;
    padding: 20px;
    cursor: pointer;
}

.logo-left {
    font-size: 80px;
    color: darkslategray;
}

.logo-right {
    font-size: 80px;
    color: forestgreen;
}

.view {
    display: flex;
    flex-direction: row;
    height: 500px;
    width: 100%;
    margin: 0 auto;
    padding: 5px;
}

.social {
    float: left;
    margin: 2em;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    width: 48%;
}

.login {
    float: right;
    margin: 2em;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    width: 48%;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 4em;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #833AB4;
    color: white;
}

.socialList {
    margin-top: 15%;
}

.footer {
    margin: 0 auto;
    padding: 20px;
    width: 50%;
    background-color: #393d41;
    font-weight: bold;
    border-radius: 10px;
}

 ::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: green !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}