.nav {
    background: brown;
}

.spacer {
    flex: 1 1 auto;
}

.icon {
    position: relative;
    top: 8px;
    font-size: 30px;
    padding: 0 10px;
}

.logo-left {
    font-weight: bold;
    color: azure;
    font-size: 50px;
}

.logo-right {
    font-weight: bold;
    color: #4E7596;
    font-size: 50px;
}

.nav-element {
    font-size: 18px;
    color: azure;
    margin-right: 1em;
    cursor: pointer;
}


/* a:hover {
    background-color: #4E7596;
} */