.table {
    background: #25272a;
    width: 100%;
    overflow: auto;
    height: 200px;
}

mat-header-cell {
    color: #4E7596;
    font-size: 30px;
    justify-content: center;
}

.element {
    color: brown;
    font-weight: bold;
    font-size: 20px;
}

mat-cell {
    justify-content: center;
}

.row-hover:hover {
    background-color: rgba(0, 0, 0, .05);
    cursor: pointer;
}

::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: brown !important;
}

mat-form-field {
    width: 100%;
}