.container {
    display: flex;
    justify-content: center;
}

.table {
    /* background: #25272a; */
    width: 100%;
}

mat-header-cell {
    color: #4E7596;
    font-size: 20px;
    justify-content: center;
}

mat-cell {
    justify-content: center;
    color: brown;
    font-weight: bold;
    font-size: 15px;
}

h4 {
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: #4E7596;
}

.list {
    margin-right: 1em;
    width: 60%;
}

.row-hover:hover {
    background-color: rgba(0, 0, 0, .05);
    cursor: pointer;
}