<mat-card class="container">
    <mat-card-header class="header">
        <mat-card-title>
            <h2>Messages</h2>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content class="content">
        <div class="messages">
            <app-message-list [isInDashboard]="false" [peroid]="60"></app-message-list>
        </div>
        <div class="actions">
            <button class="btn" mat-raised-button (click)="newMessage()">New message to employer</button>
        </div>
    </mat-card-content>
</mat-card>