.container {
    display: flex;
    flex-direction: column;
    margin: 2em;
    background: #25272a;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.header {
    justify-content: center;
    color: #4E7596;
}

.header h2 {
    font-size: 30px;
}

.btn {
    background: brown;
    white-space: normal;
    width: 60%;
    margin: 2em;
    padding: 5%;
}

.actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
}

.messages {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.messages h2 {
    text-align: center;
    color: brown
}

.table {
    background: #25272a;
    overflow: auto;
    max-height: 600px;
}

.row-hover:hover {
    background-color: rgba(0, 0, 0, .05);
    cursor: pointer;
}

mat-header-cell {
    font-weight: bold;
    font-size: 30px;
    justify-content: center;
    color: #4E7596;
}

mat-cell {
    font-weight: bold;
    font-size: 20px;
    justify-content: center;
    color: brown;
}