<form [formGroup]="form" (submit)="onSubmit(form.value)">

    <mat-card class="container">
        <mat-card-header class="header">
            <mat-card-title>
                <h1>Zarejestruj pracownika</h1>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content class="content">
            <mat-form-field>
                <mat-label>Numer pracownika</mat-label>
                <input matInput type="text" formControlName="userID" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Imię</mat-label>
                <input matInput type="text" formControlName="name" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Nazwisko</mat-label>
                <input matInput type="text" formControlName="surname" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Hasło</mat-label>
                <input matInput type="password" formControlName="password" required>
            </mat-form-field>
            <span class="err" *ngIf="wrong">Sprawdź czy wszystkie pola są wypełnione</span>
        </mat-card-content>
        <mat-card-actions class="actions">
            <button class="button" type="submit" mat-raised-button>Zarejestruj</button>
        </mat-card-actions>
    </mat-card>
</form>