<form [formGroup]="form">
    <mat-card class="container">
        <mat-card-header class="header">
            <mat-card-title>
                <h2>Plan pracy</h2>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content class="content">
            <div class="choose">
                <mat-form-field appearance="outline">
                    <mat-label>Wybierz datę</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="date" #dateString>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Od</mat-label>
                    <input matInput type="time" formControlName="timeFrom" #from>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Do</mat-label>
                    <input matInput type="time" formControlName="timeTo" #to>
                </mat-form-field>
            </div>
            <div class="buttonsArea">
                <button class="button" mat-raised-button (click)="likeYesterday()">Ustaw taki plan jak ostatnio</button>
                <button class="button" mat-raised-button (click)="onReset()">Resetuj plan</button>
                <button class="button" mat-raised-button (click)="onDelete()">Usuń plan</button>
            </div>


            <h3>Sektory:</h3>
            <div class="sectors">
                <button mat-raised-button class="button" *ngFor="let sectorPlan of sectorPlans" (click)="edit(sectorPlan)">{{sectorPlan.sector.sectorName}}</button>
            </div>
            <p class="err" *ngIf="success == true" [ngStyle]="{backgroundColor: success ? 'forestgreen' : 'mistyrose'}">Pomyślnie dodano plan</p>
            <p class="err" *ngIf="success == false">Nie udało się dodać planu, sprawdź czy wybrałeś datę, godziny i czy przypisałeś wszystkich pracowników</p>
        </mat-card-content>
        <mat-card-actions class=" actions ">
            <button class="button" mat-raised-button (click)="onSave()">Zapisz plan</button>
        </mat-card-actions>
    </mat-card>
</form>