.container {
    display: flex;
    flex-direction: column;
    margin: 2em;
    background: #25272a;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
    justify-content: center;
    flex-wrap: wrap;
}

.sectors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.actions {
    display: flex;
    justify-content: center;
}

.actions .button {
    background: brown;
    width: 50%;
}

.button {
    padding: 2%;
    margin: 1em;
    background: #4E7596;
    color: azure;
    white-space: normal;
}

.choose {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.choose .button {
    width: 30%;
    background: brown;
}

.header {
    justify-content: center;
    color: #4E7596;
}

h2 {
    font-size: 40px;
    font-weight: bold;
}

h3 {
    color: #4E7596;
}

.err {
    padding: 20px;
    background-color: mistyrose;
    border: 1px solid red;
    font-weight: bold;
    border-radius: 10px;
    color: black;
}

mat-form-field {
    margin-top: 1.5em;
    margin-left: 1em;
    margin-right: 1em;
}