<div class="container">
    <div class="list">
        <app-workers-list></app-workers-list>
    </div>
    <mat-card class="info">
        <mat-card-content>
            <form [formGroup]="form">
                <mat-form-field appearance="outline" class="amount">
                    <mat-label>Liczba pracowników</mat-label>
                    <input matInput type="number" formControlName="amount" readonly>
                </mat-form-field>
            </form>
            <div class="actions">
                <h2>Zarządzaj</h2>
                <button class="btn" mat-raised-button (click)="addWorker()">
                    <span>Dodaj pracownika</span>
                    <mat-icon class="icon" aria-hidden="false" aria-label="add">note_add</mat-icon>
                </button>
                <button class="btn" mat-raised-button>
                    <span>Usuń pracownika</span>
                    <mat-icon class="icon" aria-hidden="false" aria-label="add">delete</mat-icon>
                </button>
                <button class="btn" mat-raised-button>
                    <span>Edytuj pracownika</span>
                    <mat-icon class="icon" aria-hidden="false" aria-label="edit">edit</mat-icon>
                </button>
            </div>
        </mat-card-content>
    </mat-card>
</div>