<div class="container">
    <div class="list">
        <mat-card class="table-container">
            <mat-card-header class="table-header">
                <mat-card-title>
                    <h1>List of employees</h1>
                    <mat-divider></mat-divider>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content class="table-content">
                <template #dynamicWorkersListComponent></template>
            </mat-card-content>
        </mat-card>
    </div>
    <mat-card class="manage">
        <mat-card-content>
            <form [formGroup]="form">
                <mat-form-field appearance="outline" class="amount">
                    <mat-label>Number of employees</mat-label>
                    <input matInput type="number" formControlName="amount" readonly>
                </mat-form-field>
            </form>
            <div class="actions">
                <button class="btn" mat-raised-button (click)="addWorker()">
                    <mat-icon class="icon" aria-hidden="false" aria-label="add">note_add</mat-icon>
                    <span>Add employee</span>      
                </button>
                <button class="btn" mat-raised-button (click)="onDelete()">
                    <mat-icon class="icon" aria-hidden="false" aria-label="add">delete</mat-icon>
                    <span>Delete employee</span>          
                </button>
                <button class="btn" mat-raised-button (click)="onEdit()">
                    <mat-icon class="icon" aria-hidden="false" aria-label="edit">edit</mat-icon>
                    <span>Edit employee</span>                 
                </button>
            </div>
        </mat-card-content>
    </mat-card>
</div>