<mat-table class="table" [ngStyle]="{'max-height':  !isInDashboard ? '500px' : '200px'}" [dataSource]="dataSource">
    <ng-container matColumnDef="worker">
        <mat-header-cell *matHeaderCellDef>Message from</mat-header-cell>
        <mat-cell *matCellDef="let element"><a class="element"> {{element.worker.userID}} | {{ element.worker.name }} {{ element.worker.surname}}</a> </mat-cell>
    </ng-container>
    <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
        <mat-cell *matCellDef="let element"><a class="element">{{ element.date }}</a> </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns" class="row-hover" (click)="message(row)"></mat-row>
</mat-table>