<mat-card class="container">
    <mat-card-header class="header">
        <mat-card-title>
            <h2>Witaj {{name}}</h2>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content class="content">
        <div class="planContainer">
            <h2>Plan na jutro</h2>
            <app-plan-details [date]="dateString" [isInDashboard]="true"></app-plan-details>
        </div>
        <div class="raportContainer">
            <a class="btn" mat-raised-button [routerLink]="['/new-raport']">Dodaj nowy raport</a>
            <a class="btn" mat-raised-button [routerLink]="['/messages']">Wiadomości</a>
        </div>
        <div class="statsContainer">
            <h2>Statystyki z ostatniego tygodnia</h2>
            <app-main-statistics></app-main-statistics>
        </div>
    </mat-card-content>
</mat-card>