.container {
    display: flex;
    flex-direction: column;
    margin: 2em;
    background: #25272a;
}

.header {
    justify-content: center;
    color: #4E7596;
}

h2 {
    font-size: 40px;
    font-weight: bold;
}

.planContainer,
.statsContainer>h2 {
    font-size: 20px;
    font-weight: bold;
    color: #4E7596;
    text-align: center;
    /* margin-bottom: 1em; */
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em; */
    flex-wrap: wrap;
}

.planContainer {
    /* background: azure; */
    width: 30%;
    margin-top: 1em;
    margin-right: 1em;
}

.statsContainer {
    margin-top: 2em;
}

.raportContainer {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    margin-left: 1em;
    text-align: center;
}

.btn {
    background: brown;
    white-space: normal;
    width: 40%;
    padding: 5%;
    margin: 1em;
}

mat-form-field.mat-form-field {
    font-size: 20px;
    color: brown;
    font-weight: bold;
}