<mat-card class="container">
    <mat-card-header class="header">
        <mat-card-title>
            <h1>Lista raportów</h1>
            <mat-divider></mat-divider>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content class="table-container">
        <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Szukaj">
        </mat-form-field>
        <mat-table class="table" [dataSource]="raports">
            <ng-container matColumnDef="number">
                <mat-header-cell *matHeaderCellDef>Numer</mat-header-cell>
                <mat-cell *matCellDef="let element; let i = index"><a class="element">{{ i+1 }}</a> </mat-cell>
            </ng-container>
            <ng-container matColumnDef="date">
                <mat-header-cell *matHeaderCellDef>Data</mat-header-cell>
                <mat-cell *matCellDef="let element"><a class="element">{{ element.date }}</a> </mat-cell>
            </ng-container>
            <ng-container matColumnDef="workName">
                <mat-header-cell *matHeaderCellDef>Praca</mat-header-cell>
                <mat-cell *matCellDef="let element"><a class="element">{{ element.workName }}</a> </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns" (click)="navigateTo(row)" class="row-hover"></mat-row>
        </mat-table>

    </mat-card-content>
</mat-card>