.container {
    display: flex;
    flex-direction: column;
    margin: 4em;
    background: #25272a;
}

.content {
    display: flex;
    align-items: center;
    margin: 2em;
    justify-content: center;
    flex-wrap: wrap;
}

.header {
    justify-content: center;
    color: #4E7596;
}

h1 {
    font-weight: bold;
    font-size: 40px;
}

.date {
    font-size: 15px;
    width: 15%;
    margin-left: 3em;
}

.ranking {
    width: 100%;
}

::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: brown !important;
}