<mat-card class="container">
    <mat-card-header class="header">
        <mat-card-title>
            <h1>Ranking pracowników na dzień: {{dateString}}</h1>
            <mat-divider></mat-divider>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content class="content">
        <mat-form-field class="filter">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Szukaj">
        </mat-form-field>
        <mat-form-field class="date" appearance="outline">
            <mat-label>Zmień dzień</mat-label>
            <input matInput [matDatepicker]="picker" (dateInput)="changeDate()" disabled #dateInput>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker disabled="false"></mat-datepicker>
        </mat-form-field>
        <div class="ranking">
            <app-ranking-list [ranking]="ranking"></app-ranking-list>
        </div>
    </mat-card-content>
</mat-card>