<form [formGroup]="form">
    <mat-card class="container">
        <mat-card-header class="header">
            <mat-card-title>
                Raport nr: {{ id }}

            </mat-card-title>
        </mat-card-header>
        <mat-card-content class="content">

            <div class="data">
                <mat-form-field appearance="outline">
                    <mat-label>Numer pracownika</mat-label>
                    <input matInput type="text" formControlName="id" readonly>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Imię</mat-label>
                    <input matInput type="text" formControlName="name" readonly>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Nazwisko</mat-label>
                    <input matInput type="text" formControlName="surname" readonly>
                </mat-form-field>
            </div>
            <div class="data">
                <mat-form-field appearance="outline">
                    <mat-label>Data</mat-label>
                    <input matInput type="text" formControlName="date" readonly>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Wykonywana praca</mat-label>
                    <input matInput type="text" formControlName="workName" readonly>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Liczba godzin pracy</mat-label>
                    <input matInput formControlName="hours" type="text" readonly>
                </mat-form-field>
            </div>
            <div class="data">
                <mat-form-field appearance="outline">
                    <mat-label>Sektor</mat-label>
                    <input matInput formControlName="sector" type="text" readonly>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Rodzaj skrzynek</mat-label>
                    <input matInput formControlName="chests" type="text" readonly>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Ilość</mat-label>
                    <input matInput formControlName="amount" type="text">
                </mat-form-field>
            </div>
        </mat-card-content>
    </mat-card>
</form>