<h2>Sector {{data.sector.sector.sectorName}}</h2>
<h4>Click on the employee to remove him from the sector</h4>
<div class="container">
    <div class="list">
        <template #dynamicWorkersListComponent></template>
    </div>

    <form [formGroup]="form">
        <mat-form-field appearance="outline">
            <mat-label>Worker</mat-label>
            <mat-select formControlName="worker" (selectionChange)="onChange()">
                <mat-option *ngFor="let worker of data.workers" [value]="worker">
                    {{ worker.userID }} | {{ worker.name }} {{ worker.surname }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div class="actions">
            <button class="button" mat-raised-button (click)="onAdd(form.value)" [disabled]="!showButton">Add</button>
            <button class="button" mat-raised-button (click)="onExit()">Exit</button>
        </div>
    </form>
</div>