<mat-card class="container">
    <mat-card-header class="header">
        <mat-card-title>
            <h2>Dashboard</h2>
        </mat-card-title>
        <h2>Welcome</h2>
    </mat-card-header>
    <mat-card-content class="content">
        <div class="box">
            <h2>Reports from yesterday</h2>
            <app-reports-list filter="false" allWorkersReports="true" [displayedColumns]="displayedColumns" peroid="1" showDate="false"></app-reports-list>
        </div>
        <div class="box" *ngIf="wait >=2">
            <h2>The amount of harvested yesterday</h2>
            <div class="chartBox">
                <app-pie-chart [chartData]="chartData" [chartLabels]="chartLabels"></app-pie-chart>
            </div>

        </div>
        <div class="box">
            <div class="btnBox">
                <button class="btn" mat-raised-button [routerLink]="['/admin/workers']">Manage workers</button>
                <button class="btn" mat-raised-button [routerLink]="['/admin/plan']">Manage plan of work</button>
            </div>

        </div>
        <div class="box">
            <h2>Messages from today and yesterday</h2>
            <app-message-list></app-message-list>
        </div>
    </mat-card-content>
</mat-card>