<form [formGroup]="form">
    <div class="container">
        <h2>Change password</h2>
        <mat-form-field *ngIf="!show">
            <mat-label>Enter current password:</mat-label>
            <input matInput type="password" formControlName="currentPassword">
        </mat-form-field>
        <p class="err" *ngIf="wrongCurrentPassword === true">Incorrect password</p>
        <button *ngIf="!show" mat-raised-button (click)="onCurrentPassword(form.value.currentPassword)">OK</button>
        <div class="changePassword" *ngIf="show">
            <mat-form-field>
                <mat-label>Enter new password </mat-label>
                <input matInput type="password" formControlName="newPassword1">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Repaeat new password: </mat-label>
                <input matInput type="password" formControlName="newPassword2">
            </mat-form-field>
            <p class="err" *ngIf="error === true">The entered passwords do not match</p>
            <button class="button" mat-raised-button (click)="onPasswordChange(form.value)">Change password</button>
        </div>
    </div>
</form>