<mat-card class="container">
    <mat-card-header class="header">
        <mat-card-title>
            <h1>Lista pracowników</h1>
            <mat-divider></mat-divider>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content class="table-container">
        <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Szukaj">
        </mat-form-field>
        <mat-table class="table" [dataSource]="workers">
            <ng-container matColumnDef="userID">
                <mat-header-cell *matHeaderCellDef>Numer pracownika</mat-header-cell>
                <mat-cell *matCellDef="let element"><a class="element">{{ element.userID }}</a> </mat-cell>
            </ng-container>
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef>Imię</mat-header-cell>
                <mat-cell *matCellDef="let element"><a class="element">{{ element.name }}</a> </mat-cell>
            </ng-container>
            <ng-container matColumnDef="surname">
                <mat-header-cell *matHeaderCellDef>Nazwisko</mat-header-cell>
                <mat-cell *matCellDef="let element"><a class="element">{{ element.surname }}</a> </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns" (click)="navigateTo(row)" class="row-hover"></mat-row>
        </mat-table>
    </mat-card-content>
</mat-card>