.sidenavContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.logo {
    text-align: center;
    margin: 1em;
    font-size: 40px;
    font-weight: bold;
}

.logo-left {
    color: darkslategray;
    font-weight: bold;
}

.logo-right {
    color: forestgreen;
    font-weight: bold;
}

.sidenav {
    min-width: 15%;
    background: #A9A9A9;
}

.list {
    text-align: center;
    font-weight: bold;
}