<mat-sidenav-container class="sidenavContainer">

    <mat-sidenav mode="side" opened class="sidenav">
        <a class="logo" mat-list-item [routerLink]="['']">
            <span class="logo-left">i</span>
            <span class="logo-right">Worker</span>
        </a>

        <mat-nav-list class="list">
            <mat-divider></mat-divider>
            <a mat-list-item [routerLink]="['./']">Dashboard</a>
            <mat-divider></mat-divider>
            <a mat-list-item [routerLink]="['./']">Lista raportów</a>
            <a mat-list-item [routerLink]="['/new-raport']">Nowy raport</a>
            <a mat-list-item [routerLink]="['/plan']">Plan</a>
            <a mat-list-item [routerLink]="['./']">Statysyki</a>
            <mat-divider></mat-divider>
            <a mat-list-item [routerLink]="['./']">Wyloguj</a>
        </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>