/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    background: #2E3134;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
    text-decoration: none;
}

mat-form-field.mat-form-field {
    font-size: 20px;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    color: forestgreen!important;
}

.mat-form-field-label {
    color: forestgreen!important;
}

.mat-form-field.mat-focused .mat-form-field-label {
    color: forestgreen!important;
}