<mat-card class="container">
    <mat-card-header class="header">
        <mat-card-title>
            <h2>Raporty</h2>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content class="content">
        <div class="box">
            <h2>Wszystkie raporty</h2>
            <mat-form-field>
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Szukaj">
            </mat-form-field>
            <mat-table class="table" [dataSource]="raports">
                <ng-container matColumnDef="number">
                    <mat-header-cell *matHeaderCellDef>Numer</mat-header-cell>
                    <mat-cell *matCellDef="let element; let i = index"><a class="element">{{ i+1 }}</a> </mat-cell>
                </ng-container>
                <ng-container matColumnDef="userID">
                    <mat-header-cell *matHeaderCellDef>Numer pracownika</mat-header-cell>
                    <mat-cell *matCellDef="let element; let i = index"><a class="element">{{ element.userID }}</a> </mat-cell>
                </ng-container>
                <ng-container matColumnDef="date">
                    <mat-header-cell *matHeaderCellDef>Data</mat-header-cell>
                    <mat-cell *matCellDef="let element"><a class="element">{{ element.date }}</a> </mat-cell>
                </ng-container>
                <ng-container matColumnDef="workName">
                    <mat-header-cell *matHeaderCellDef>Praca</mat-header-cell>
                    <mat-cell *matCellDef="let element"><a class="element">{{ element.workName }}</a> </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef=" displayedColumnsForAll; sticky: true"></mat-header-row>
                <mat-row *matRowDef="let row; columns:  displayedColumnsForAll" (click)="navigateTo(row)" class="row-hover"></mat-row>
            </mat-table>
        </div>
        <div class="box">
            <h2>Raporty danego pracownika</h2>
            <form [formGroup]="form">
                <mat-form-field appearance="outline">
                    <mat-label>Pracownik</mat-label>
                    <mat-select formControlName="worker" (selectionChange)="onChange(form.value.worker.userID)">
                        <mat-option *ngFor="let worker of workers" [value]="worker">
                            {{ worker.userID }} | {{ worker.name }} {{ worker.surname }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
            <div *ngIf="showRaportsOfWorker">
                <mat-form-field>
                    <mat-label>Filter</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Szukaj">
                </mat-form-field>
                <mat-table class="table" [dataSource]="raportsOfWorker">
                    <ng-container matColumnDef="number">
                        <mat-header-cell *matHeaderCellDef>Numer</mat-header-cell>
                        <mat-cell *matCellDef="let element; let i = index"><a class="element">{{ i+1 }}</a> </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="date">
                        <mat-header-cell *matHeaderCellDef>Data</mat-header-cell>
                        <mat-cell *matCellDef="let element"><a class="element">{{ element.date }}</a> </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="workName">
                        <mat-header-cell *matHeaderCellDef>Praca</mat-header-cell>
                        <mat-cell *matCellDef="let element"><a class="element">{{ element.workName }}</a> </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns" (click)="navigateTo(row)" class="row-hover"></mat-row>
                </mat-table>
            </div>
        </div>
    </mat-card-content>
</mat-card>