<form [formGroup]="form" (submit)="onSubmit(form.value)">
    <mat-card class="container">
        <mat-card-header class="header">
            <mat-card-title>
                <h1>New report</h1>
                <mat-divider></mat-divider>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content class="content">

            <div class="data">
                <mat-form-field appearance="outline">
                    <mat-label>Worker number</mat-label>
                    <input matInput type="number" formControlName="userID" readonly>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput type="text" formControlName="name" readonly>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Surname</mat-label>
                    <input matInput type="text" formControlName="surname" readonly>
                </mat-form-field>
            </div>
            <div class="data">
                <mat-form-field appearance="outline">
                    <mat-label>Date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="date" #dateString>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Sector | Work</mat-label>
                    <mat-select formControlName="sector">
                        <mat-option *ngFor="let sector of sectors" [value]="sector">
                            {{ sector.sectorName }} | {{sector.workName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Number of work hours</mat-label>
                    <input matInput formControlName="hours" type="number" min="1" max="12" step="0.25">
                </mat-form-field>
            </div>
            <div class="data">
                <mat-form-field appearance="outline">
                    <mat-label>Amount (kg)</mat-label>
                    <input matInput formControlName="amount" type="number" min="1" max="999" step="any">
                </mat-form-field>
            </div>
            <p class="err" *ngIf="cantAdd">The report could not be added, check the date, check if you have completed all fields and have not added the report for the given day</p>
            <p class="mistake">If you make a mistake, you can edit the report until midnight by overwriting the previous report</p>
        </mat-card-content>
        <mat-card-actions class="actions">
            <button class="button" mat-raised-button type="submit">Add report</button>
        </mat-card-actions>
    </mat-card>
</form>