.container {
    display: flex;
    flex-direction: column;
    margin: 4em;
    background: #25272a;
}

.content {
    display: flex;
    align-items: center;
    margin: 2em;
    justify-content: center;
    flex-wrap: wrap;
}

.data {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
}

.actions {
    display: flex;
    justify-content: center;
}

.button {
    width: 30%;
    padding: 2%;
    background: brown;
    color: azure;
    font-size: 20px;
    white-space: normal;
}

.header {
    justify-content: center;
    color: #4E7596;
}

.err {
    padding: 20px;
    background-color: mistyrose;
    border: 1px solid red;
    font-weight: bold;
    border-radius: 10px;
    color: black;
}

h1 {
    font-weight: bold;
    font-size: 40px;
}

::ng-deep.mat-select-panel {
    background-color: brown;
}

::ng-deep .mat-select-value {
    color: brown!important;
    font-weight: bold;
}