<mat-card class="container">
    <mat-card-header class="header">
        <mat-card-title>
            <h1>Statystyki</h1>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content class="content">
        <div class="ranking">
            <h2>Top 3 najlepszych pracowników wczoraj</h2>
            <!--mat table-->
            <button mat-raised-button class="btn">Wyświetl pełny ranking</button>
        </div>
        <div class="charts">
            <h2>Łączna ilość zbiorów wczoraj</h2>
            <!--pie chart-->
            <!--jeszcze jeden jakis wykres-->
        </div>
        <div class="otherStats">
            <h2>Pozostałe statystyki</h2>
            <!--width 100%-->

        </div>
    </mat-card-content>
</mat-card>