.container {
    display: flex;
    flex-direction: column;
    margin: 2em;
    background: #25272a;
}

.content {
    display: flex;
    align-items: center;
    margin: 2em;
    justify-content: center;
    flex-wrap: wrap;
}

.header {
    justify-content: center;
    color: brown;
}

.header h2 {
    font-size: 50px;
    font-weight: bold;
}

.mainStatistics {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.allStatistics {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.charts {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    margin-top: 2em;
}

.rankingChart {
    width: 30%;
    color: brown;
}

.amountChart {
    width: 30%;
    color: brown;
}

.hoursChart {
    width: 30%;
    color: brown;
}

.break h2 {
    color: brown;
    font-size: 25px;
    font-weight: bold;
    margin-top: 2em;
}