<form [formGroup]="form" (submit)="onSubmit(form.value)">
    <mat-card-header class="header">
        <mat-card-title>
            <h1>Add employee</h1>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content class="content">
        <mat-form-field>
            <mat-label>Number of worker</mat-label>
            <input matInput type="number" formControlName="userID">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput type="text" formControlName="name">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Surname</mat-label>
            <input matInput type="text" formControlName="surname">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password">
        </mat-form-field>
        <span class="err" *ngIf="wrong">The provided number is already registered or not all fields are completed</span>
        <span class="err" *ngIf="wrong == false" [ngStyle]="{backgroundColor: wrong ? 'mistyrose' : 'forestgreen'}">Employee added successfully</span>
    </mat-card-content>
    <mat-card-actions class="actions">
        <button class="button" type="submit" mat-raised-button>Add</button>
        <button class="button" mat-raised-button (click)="onExit()">Exit</button>
    </mat-card-actions>
</form>