.container {
    display: flex;
    flex-direction: column;
    margin: 4em;
    background: #25272a;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
    justify-content: center;
    flex-wrap: wrap;
}

.formField {
    width: 30%;
}

.header {
    justify-content: center;
    color: forestgreen;
}

h1 {
    font-weight: bold;
    font-size: 40px;
}

.plan {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
}

.plan .formField {
    width: 100%;
}