<mat-card class="container">
    <mat-card-header class="header">
        <mat-card-title>
            <h1>Plan pracy</h1>
            <mat-divider></mat-divider>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content class="content">
        <mat-form-field class="formField" appearance="outline">
            <mat-label>Wybierz dzień</mat-label>
            <input matInput [matDatepicker]="picker" (dateInput)="showPlan()" disabled #dateInput>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker disabled="false"></mat-datepicker>
        </mat-form-field>

        <div class="plan" *ngIf="isDateEntered">
            <!--Have to fix, when (dateInput) it should remove this components if exists and create new with others date -->
            <h2>Twój plan na wybrany dzień:</h2>
            <app-plan-details [date]="date"></app-plan-details>
        </div>

    </mat-card-content>
</mat-card>