<div class="container">
    <div class="message">
        <form [formGroup]="form">
            <mat-form-field>
                <mat-label>Enter your message here</mat-label>
                <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="10" formControlName="message"></textarea>
            </mat-form-field>
        </form>
        <p class="err" *ngIf="error">Failed to send message</p>
    </div>

    <div class="actions">
        <button mat-raised-button class="btn" (click)="onSend(form.value.message)">Send to all workers</button>
        <button mat-raised-button class="btn" (click)="onExit()">Exit</button>
    </div>
</div>